//main: ../style.less
.intro__content {
  width: 100%;
  position: relative;
}
.inhto__header {
  position: absolute;
  top: 10%;
  @media (min-width: 1420px) {
    top: 25%;
  }
  width: 40%;
  text-align: center;
  h1 {
    font-family: @monserat;
    font-size: 3rem;
    color: @gray;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  h2 {
    font-family: @monserat;
    font-size: 2rem;
    color: @gray;
    font-weight: 400;
  }
}
