//main: ../style.less

.portfolio__content{
  margin: 3rem 0;
  display: flex;
  width: 100%;
}
.portfolio__colum{
  width: 33.33333%;
  position: relative;
  img{
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    z-index: 3;
  }
  &:hover{
    img{
      opacity: 1;
    }
    .portfolio__icon{
      visibility: visible;
    }
    .portfolio__footer{
      visibility: visible;
    }
  }
}
.portfolio__icon{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.portfolio__footer{
  position: absolute;
  bottom: 0;
  height: 4rem;
  background-color: @gray-l;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  h5{
    font-family: @monserat;
    font-size: 1.4rem;
    font-weight: 600;
    color: @gray;
    margin-bottom: 0.5rem;
  }
  span{
    width: 2rem;
    height: 3px;
    background-color: @black;
  }
}